<div class="block-area"  >
  <div class="tile padding-form">
    <form novalidate name="theFormPlan" ng-submit="submit(theFormPlan)" class="form-horizontal">

      <div class="row">
        <div class="col-md-12">


          <!-- Text input-->
          <div   ng-if="!isEdit()" class="form-group">
            <label class="col-md-4 control-label" for="name">Nombre</label>
            <div class="col-md-8">
              <input ng-disabled="isShow()" id="name" ng-model="plan.name" type="text" placeholder="" class="form-control input-md" required="">
              <div class="alert alert-danger" ng-show="existsNameText == 1">
                <i class="fa fa-exclamation-triangle"></i> Este nombre ya se encuentra en el sistema
              </div>
              <div class="alert alert-success" ng-show="existsNameText == 2">
                <i class="fa fa-check-square-o"></i> Este nombre esta disponible <i class="fa fa-smile-o"></i>
              </div>
            </div>
          </div>


          <div  ng-if="!isEdit()" class="form-group">
            <label class="col-md-4 control-label" for="duration">Duración</label>
            <div class="col-md-2">
              <input style="min-width: 100px;" ng-disabled="isShow()" id="duration" min="1" ng-model="plan.duration" type="number" placeholder="" class="form-control input-md" required="">
            </div>
            <div class="col-md-3">
              <strong>días</strong>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="value">Valor</label>
            <div class="col-md-8">
              <input ng-disabled="isShow()" id="value" ng-model="plan.value" min="0" type="number" placeholder="En COP" class="form-control input-md" required="">
              <div class="titip-top-right titip-wrapped-large titip-primary">
                <i style="font-size: 15px;" class="fa fa-question-circle"></i>
                <span class="titip-content">
                  <strong>Información</strong><br>
                  El valor indicado se tomará en unidades de pesos colombianos (COP). SOLO NUMEROS, NO UTILICE PUNTOS NI COMAS.
                </span>
              </div>
            </div>
          </div>

          <!-- Textarea -->
          <div ng-if="!isEdit()" class="form-group">
            <label class="col-md-4 control-label" for="description">Descripción</label>
            <div class="col-md-8">
              <textarea ng-disabled="isShow()" rows="6" required style="width:100%" class="form-control" id="description" ng-model="plan.description"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">


        </div>
        <div  class="col-md-4">
          <div class="text-right">

            <div ng-if="settings.processing" style="height: 70px; width: 100%; text-align: right;" >
              Enviando... <img src="../img/white-loader.gif" />
            </div>             

            <button ng-if="!isShow()" type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
            <a type="button" href="#/planes"  class="btn btn-default"><i class="fa fa-reply"></i> Volver</a>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<div  ng-if="!isShow()"  class="block-area"  >
  <div class="row">
    <div class="col-md-6">

      <div ng-show="!validateTheForm" class="alert alert-danger">
        <strong>Información</strong> Faltan campos obligatorios y/o indicó datos erroneos.
      </div>

      <div ng-show="settings.success" class="alert alert-info">
        <strong>Información</strong> {{settings.success}}
      </div>



    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
