<h4 class="page-title">Listado de correos enviados</h4>


<div class="block-area">
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-sm" href="#/correos/crear">
      <span class="fa fa-envelope-o"></span>
      Enviar Correo a Clientes
    </a>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="col-md-12">
        <div class="input-group">
          <input  ng-enter="find()" ng-model="filtertext" type="search" class="form-control" placeholder="Indique motivo del correo">
            <span class="input-group-btn">
            <button ng-click="find()" class="btn btn-default" type="button"><i class="fa fa-search"></i> Buscar</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>

  </div>
</div>
</div>


<!-- Table Striped -->
<div class="block-area" id="tableStriped">
    <div class="table-responsive overflow">
        <table class="tile table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Motivo</th>
                    <th>Fecha Hora De Envio
                      <div class="titip-top-right titip-wrapped-large titip-primary">
                        <i style="font-size: 15px;" class="fa fa-question-circle"></i>
                        <span class="titip-content">
                          <strong>Información</strong><br>
                          La hora es militar (Formato de 24 horas)
                        </span>
                      </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="email in data | startFrom:currentPage*pageSize | limitTo:pageSize ">
                <td>{{email.title}}</td>
                <td>{{email.reason}}</td>
                <td>{{email.created_at}}</td>
                <td>
                  <a href="#/correos/detallar/{{email.id}}">
                    <span class="glyphicon glyphicon-search"></span>
                    Detallar</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'./btns-pagination.html'"></div>
</div>

<div class="block-area">
<div ng-if="data < 1" class="alert alert-info" >
  <strong>Información: </strong> No hay registros de correos enviados en el momento ó con el <strong>filtro especificado.</strong>
</div>
</div>
